@import "../../../scss/includes/colors.scss";
@import "../../../scss/includes/sizes.scss";
@import "../../../scss/includes/type.scss";

.main {
	width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: #eeeeee;
}

.fields {
	text-align: center;
	overflow-y: scroll;
	max-height: 100vh;
}

.fields-container {
	display: flex;
	flex-direction: column;
}

.field-cell {
	border: 1px solid #dddddd;
	padding: 10px;
	text-align: left;
}

.field-title {
	@include type-space-grotesk-bold;
	font-size: 10px;
	text-transform: uppercase;
	opacity: 0.4;
	margin: 0 0 0.5em;
}

.field-name {
	@include type-space-grotesk-medium;
	font-size: 12px;
	margin: 0.5em 0;
}

.field-detail {
	@include type-space-grotesk-medium;
	font-size: 12px;
	margin: 0.5em 0;
	opacity: 0.6;
}

.field-value {
	@include type-space-grotesk-medium;
	font-size: 14px;
	width: 100%;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	margin: 0.5em 0;
	padding: 8px;
}

.placeholder-message {
	display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
	text-align: center;
}
