@import "../../../scss/includes/colors.scss";
@import "../../../scss/includes/sizes.scss";

.main {
	margin: 0;

	min-height: calc(var(--vh) * 100);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.content {
	flex-grow: 1;
}
