@import "../../../scss/includes/colors.scss";
@import "../../../scss/includes/sizes.scss";

.main {
	width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: #eeeeee;
}
