@import "../../../scss/includes/colors.scss";
@import "../../../scss/includes/mixins.scss";
@import "../../../scss/includes/sizes.scss";

.main {
	margin: 0;
	position: relative;
	min-height: calc(var(--vh) * 100);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	overflow: hidden;
}

.content {
	display: flex;
	flex-grow: 1;
	flex-direction: row;
}

.player {
	flex: auto;
}

.sidebar {
	flex: auto;
}

.message {
	@include layout-absolute-fill-width-height;
	height: calc(var(--vh) * 100);
	background-color: rgba(200, 200, 200, 0.8);
	backdrop-filter: blur(5px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.message-error {
	color: #660000;
}
